/* header  */
:root {
    --grey: grey;
}
header#hero {
    background-color: var(--grey);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    background-image: url("../../assets/headerbackground.png");
    background-repeat: no-repeat;
    background-size: cover;

}
navbar#navbar {
    box-sizing: border-box;
    height: 85px;
    display: flex;
    align-items: center;
    padding: 24px 0px 19px;
    background-color: transparent;
    color: black;
    position: absolute;
    top: 0px;
    width: 100%;
    
}
#menu-icon {
    font-size: 29px;
}
.navbar {
    display: flex;
    align-items: center;
}
img#navbar-logo {
    width: 135px;
}
input#search-input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 30px;
}
#search {
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
}
/* header-end */

/* figure */
img#figure-img {
    width: 446px;
    height: 446px;
    border-radius: 60px;
    object-fit: cover;
    object-position: center;
}

figure#hero-figure {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 1000px;
}

h1.caption { 
    font-family: 'SF Display', sans-serif;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 900;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
}