/* header  */
:root {
    --grey: grey;
}
header#hero {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgb(2,0,36);
    background: 
        linear-gradient(
        180deg, 
        rgba(2,0,36,0) 0%, 
        rgba(0,0,0,1) 100%);
    padding-top: 140px;
}
navbar#navbar {
    box-sizing: border-box;
    height: 85px;
    display: flex;
    align-items: center;
    padding: 24px 0px 19px;

    background-color: transparent;
    color: black;
    position: absolute;
    top: 0px;
    width: 100%;
}
#menu-icon {
    font-size: 29px;
}
img#navbar-logo {
    width: 135px;
}
input#search-input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 30px;
}
#search {
    padding: 0 0 0 30px;
    display: flex;
    align-items: center;
}
/* header-end */

/* figure */
div.imageContainer {
    width: 50vw;
    max-width: 446px;
    min-width: 360px;
    border-radius: 24px;
    aspect-ratio: 1/1;
    overflow: hidden;
}
img#figure-img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%; 
    height: 100%; 
    border-radius: 24px;
    transition: transform 0.2s ease-in-out; 
}
img#figure-img:hover {
    transform: scale(1.25);
}
figure#hero-figure {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 1100px;
}
h1.caption { 
    font-family: 'SF Display', sans-serif;
    font-size: 2.3rem;
    line-height: 2.7rem;
    font-weight: bolder;
    text-transform: uppercase;
}
h1#fancy {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
}
div#carousel-container {
    max-width: calc(5 * 18vw + 4 * 2rem);
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    overflow-x: visible;
    padding: 0 20px 0;
    transform: translateY(-50%);
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}